.base-container {
    width: 100%;
    float: left;
}
.global-content {
    width: calc(100% - 260px);
    position: relative;
    float: left;
    z-index: 99;
    left: 260px;
    background-color: #ECEFF3;
    @media (max-width: 991.98px) {
        width: calc(100% - 0px);
        left: 0;
    }
}

.admin-footer{
    background-color: #ECEFF3;
    padding:27px 0;
    text-align: center;

    p{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 30px;
        color: #758599;
        margin:0;
        padding:0;
    }
}