.base-container {
    width: 100%;
    float: left;
}
.global-content {
    width: calc(100% - 260px);
    position: relative;
    float: left;
    z-index: 99;
    left: 260px;
    background-color: #ECEFF3;
    @media (max-width: 991.98px) {
        width: calc(100% - 0px);
        left: 0;
    }
}

.global-datawrap {
    padding-top: 0px;
    position: relative;
    min-height: 100vw!important;
    max-width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: auto ;
}
.global-datawrap__inner {
    padding: 25px 33px;
    @media (max-width: 991.98px) {
       padding: 25px 15px;
    }
}

.admin-footer{
    background-color: #ECEFF3;
    padding:27px 0;
    text-align: center;

    p{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 30px;
        color: #758599;
        margin:0;
        padding:0;
    }
}