.sidebar-wrapper {
  min-height: 100vh;
  background-color: $cm-dark-grey;
  width: 260px;
  max-width: 280px;
  padding: 5px;
  display: flex;
  flex-direction: column;

  li{
    list-style: none;
    font-weight: normal;
    //font-size: 14px;
    margin-bottom: 19px;
    //position: relative;
    // a{
    //     color: $cm-black;
    //     span{
    //         font-size: 11px;
    //         font-style: italic;
    //         opacity: 0.61;
    //     }
    //     i{
    //         position: relative;
    //         width:22px;
    //         height: 22px;
    //         margin-right:4px;
    //         float: left;
    //     }
    //     &:hover{
    //         color: $cm-primary;
    //         text-decoration: none;
    //         i path{
    //             fill: $cm-primary;
    //         }
    //     }
    //   //  .notification-icon{
    //   //      position: absolute;
    //   //      top:2px;
    //   //      right:0;
    //   //       width:8px;
    //   //       height: 8px;
    //   //       border-radius: 50%;
    //   //       background-color: $tt-red;
    //   //       border: solid 1px $tt-white;
    //   //  }
    // }
    .active{
        color:$cm-primary;
        font-weight: 600;
        i{
            path{
                fill: $cm-primary;
            }
        }
    }
}
}

.global-sidebar {
  width: 260px;
  height: 100vh;
  padding: 0;
  position: fixed;
  z-index: 100;
  max-height: 100%;
}

.admin-sidebar {
  list-style: none;
  padding: 0;
  height: 93vh;
  overflow-x: scroll;
  // overflow-y: auto;//if scroll needed change this part
  @media (max-width: 991.98px) {
    height: auto;
    overflow: unset;
  }
}
.admin-sidebar::-webkit-scrollbar {
  width: 5px;
}

// .admin-sidebar::-webkit-scrollbar:hover {
//   width: 15px;
// }

/* Track */
.admin-sidebar::-webkit-scrollbar-track {
  background: $cm-dark-grey;
}

/* Handle */  
.admin-sidebar::-webkit-scrollbar-thumb {
    background: #999;
}

/* Handle on hover */
// .admin-sidebar::-webkit-scrollbar-thumb:hover {
//     background: #999;
// }

.sidebar__list--logo {
  padding: 19px 4px 19px 25px;
  position: relative;
  background-color: $cm-dark-grey90;
  // margin-bottom: 31px;
  @media (max-width: 991.98px) {
    padding: 19px 4px 23px 25px;
  }
}

.sidebar__list {
  position: relative;
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar__list--text {
  font-size: 14px;
  text-transform: uppercase;
  color: $cm-light-grey-10 !important;
  cursor: pointer;
  width: 100%;
  padding: 8px 23px 8px 24px;
  transition: 0.4s all;

  i {
    margin-right: 15px;
  }
}

body .sidebar__list .active {
  color: $cm-primary !important;
  i svg {
    path,
    rect {
      fill: $cm-primary;
    }
  }
}

.sidebar__list--text:hover,
.sidebar__list--text:focus,
.sidebar__list--text:active,
.sidebar__list--text:hover path,
.sidebar__list--text:focus path,
.sidebar__list--text:hover rect,
.sidebar__list--text:focus rect,
.sidebar .active,
.sidebar .active path,
.sidebar .active rect {
  text-decoration: none;
  color: $cm-white !important;
  //fill: $cm-primary !important; //800
}

.sidebar .active path,
.sidebar .active rect,
.sidebar__list--text:hover path,
.sidebar__list--text:focus path,
.sidebar__list--text:hover rect,
.sidebar__list--text:focus rect {
  box-shadow: 0px 0px 15px rgba(255, 164, 5, 0.454245);
}
.sidebar__list:hover,
.sidebar .active {
  color: $cm-white !important;
}

.sidebar__list--text:focus,
.sidebar__list--text:active,
.sidebar .active {
  font-weight: 600;
}

.sidebar .sidebar__sub .active1 {
  font-weight: 600;
  background-color: transparent !important;
}

.sidebar__sub-list--text:hover,
.sidebar__sub-list--text:focus,
.sidebar__sub-list--text:active,
.sidebar .sidebar__sub .active1 {
  text-decoration: none;
  color: $cm-white !important;
}

//sidebar-button overwriting styles

.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #f8f8f8;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-weight: 400;
  line-height: 1.75;
  font-size: 14px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.6px
}

.sidenav {
  .dropdown-btn:focus{
    outline: none;
  }
}


.dropdown-btn span {
  margin-left: 1rem;
  margin-top: -1rem;
}
.dropdown-btn span:hover {
  background-color: rgb(91, 96, 105);
}
//style for up and down arrow in drop down menu
.MuiSvgIcon_root_2,
.MuiSvgIcon_root_3 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  float: right;
}
.MuiSvgIcon_root_2 {
  display: none;
}
.MuiSvgIcon_root_3 {
  display: block;
}

.all_style {
  height: 110px;
  margin-left: 0.9rem;
  transition: height 550ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.none_style {
  height: 0px;
  margin-left: 0.9rem;

  transition: height 550ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: hidden;
}
.none_style a,
.all_style a {
  //remove .noneStyle a to see intresting animation
  margin-top: 0.5rem;
  margin-left: 1.75rem;
}
.sidebar-button-icons {
  width: 1.2rem;
  filter: brightness(0) invert(1);
}
