.configuration-section {

    .configuration-sub-head { 
        font-size: 16px;
        color: $cm-font-color;
    }

    
    .configuration-card-title-head {
        font-size: 20px;
        color: $cm-secondary;
        font-weight: 600;
    }

    .configuration-card-sub-title {
        font-size: 16px;
        color: $cm-font-color;
    }
    
    .configuration-card {
        line-height: 1.5;
        display: flex;
        justify-content: center;
        top: 0px;
        //position: relative;
        //max-width: 24rem;
        //height: 10rem;
        background-color: $cm-white;
        border-radius: 4px;
        padding: 20px 16px;
        text-decoration: none;
        z-index: 0;
        overflow: hidden;
        border: 1px solid #f2f8f9;
        cursor: pointer;;
      
        &:hover {
          transition: all 0.2s ease-out;
          box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
          top: -4px;
          border: 1px solid #cccccc;
          background-color: white;
        }
      
        &:hover:before {
          transform: scale(2.15);
        }
      }


}
  