.crearte-products-section {
    .dash_activity_card {
        width: auto;
    }

    .card-data-wrapper {
        input {
            height: 45px;
        }

        .MuiDivider-root {
            margin: 1.8rem 0;
        }

        .react-select__value-container{
            height: 45px !important;
        }

        .react-select__control--isfocused{
            height: 45px !important;
        }
    }

    .card-title-right{
        cursor: pointer;
    }
}