.generate-info {
  font-size: 14px;
  margin-right: 0.5rem;
  font-weight: 600;
}
.voucher-global-header {
  font-size: 20px;
  font-weight: 600;
}
.usage_limit_container {
  font-size: 14px;
}
.common_flex_row_data p {
  font-size: 14px;
}
