.generate-info{
    font-size: 14px;
    margin-right: .5rem;
}
.voucher-global-header{
    font-size: 20px;
}
.usage_limit_container{
    font-size: 14px;
}
.common_flex_row_data p{

    font-size: 14px;

}