.generate-info {
  font-size: 14px;
  margin-right: 0.5rem;
  font-weight: 600;
}
.voucher-global-header {
  font-size: 20px;
  font-weight: 600;
}
.usage_limit_container {
  font-size: 14px;
}
.common_flex_row_data p {
  font-size: 14px;
}
.value_checkbox{
  margin-left: -2rem;
}
.value_checkbox span{
  margin-left: 0rem!important;

}
.common_date_checkbox_data ul li{
  margin-left: -1.5rem;


}