
// Body
$cm-primary: #8a85ff;
$cm-secondary: #06847B;

$cm-white: #fff;
$cm-black: #000;
$cm-dark-grey: #282C34;
$cm-back-ground-light: #eceff3;
$cm-orange: #FFA405;

$cm-dark-grey50: #13171D;
$cm-dark-grey90: #1B1F23;
$cm-dark-grey100: #171B1F;
$cm-light-orange: #fff4e0;
$cm-light-grey: #EFF1F7;

$cm-light-grey-5: #E5E7E9;
$cm-light-grey-10: #F3F5F7;
$cm-light-grey-8: #F6FBFF;
$cm-light-grey-10: #7C8396;
$cm-light-grey-15: #5f5f5f;
$cm-green: #1D5906;
$cm-light-green: #10C56E;
$cm-light-green-5: #D9FBEB;
$cm-light-grey2: #D0D0D0;

$cm-red:   #F5383F;

$cm-font-color:  #3D3D3D;
