.custom-react-select--no-border {
    width: 15%;
    font-size: 13px;

    .react-select-container .react-select__control {
        height: 38px !important;
        border-color: transparent;
        background-color: #F3F5F7;
    }

    @media(max-width:767.98px) {
        width: 40%;
    }
}

