.cm-admin-table-compact {
  margin-bottom: 0 !important;
  thead {
    tr {
      background: #f5f7fa;

      th {
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.276923px;
        text-transform: uppercase;
        color: #a4adb9;

        border-bottom: 1px solid #dee2e6;
        border-top: none;
        padding: 8px 17px;

        @media (max-width: 991.98px) {
          white-space: nowrap;
        }
      }

      .sortable {
        cursor: pointer;
        position: relative;

        &:after {
          position: relative;
          display: inline-block;
          content: '';
          width: 7px;
          height: 12px;
          top: 1px;
          left: 6px;
          background: transparent url(/images/admin/global/sortable.svg) no-repeat;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        border-bottom: 1px solid #e9ecf0;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.323077px;
        color: #21252a;

        padding: 14px 17px;
        vertical-align: middle;
        a {
          color: #21252a;
          &:hover {
            opacity: 0.8;
          }
        }
        .link {
          color: $cm-primary !important;
        }
        @media (max-width: 991.98px) {
          white-space: nowrap;
        }
        .action-wrap {
          a {
            margin-left: 16px;
            &:first-child {
              margin-left: 0px;
            }
            &:hover {
              opacity: 0.7;
            }
          }
        }
        .orange-link {
          color: $cm-primary !important;
        }
      }
    }
  }
}
.cm-admin-table-compact--checkbox {
  thead {
    tr {
      th {
        white-space: nowrap;
        &:first-child {
          width: 30px;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        white-space: nowrap;

        &:first-child {
          width: 30px;
        }
      }
    }
  }
}

.table__loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
