.base-container {
    width: 100%;
    float: left;
}
.global-content {
    width: calc(100% - 260px);
    position: relative;
    float: left;
    z-index: 99;
    left: 260px;
    background-color: $cm-back-ground-light;
    @media (max-width: 991.98px) {
        width: calc(100% - 0px);
        left: 0;
    }
}

.global-datawrap {
    padding-top: 0px;
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.global-datawrap__inner {
    padding: 25px 33px;
    @media (max-width: 991.98px) {
       padding: 25px 15px;
    }
}

.admin-footer{
    background-color: $cm-back-ground-light;
    padding:27px 0;
    text-align: center;

    p{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 30px;
        color: #758599;
        margin:0;
        padding:0;
    }
}



.text-uppercase{
    text-transform: uppercase;
}

.global-data-wrap {
    width: 100%;
    float: left;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.base-container::-webkit-scrollbar {
    display: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .example {
    -ms-overflow-style: none;
  }
.generic-page-header {
    white-space: nowrap;
}

.page-head {
    font-family: 'DIN Alternate Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #21252A;
    opacity: 0.5;
}

.generic-page-header {
    margin-bottom: 24px;
    padding-top: 0px;
    margin-left: 3px;
    min-height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width:1199.98px) {
     display: block;
    }
    @media( max-width:991.98px){
     width: 100%;
    }
    .header-data-section{
        display: flex;
        @media(max-width:1199.98px) {
             margin-bottom: 15px;
        }
         @media(max-width:1199.98px) {
             &:last-child{
                 justify-content: flex-end;
             }
         }
          @media(max-width: 575.98px){
              display: block;
          }
        .back-btn{
            margin-right: 10px;
        }
        h2{
            span{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                line-height: 30px;
                letter-spacing: 0.65px;
                text-transform: uppercase;
                   @media(max-width: 575.98px) {
                       line-height: 1;
                       position: relative;
                       width: 100%;
                       float: left;
                       margin-bottom: 15px;
                   }
            }
            @media(max-width: 575.98px) {
                margin-top:15px !important;
            }
         }
        @media(max-width:767.98px){
             display: block;
        }
    }
    @media( max-width: 575.98px){
         .btn{
             width: 100%;
             display: block;
             margin-top: 15px;
         }
    }
 }

 .cm-admin-card{
    position: relative;
    width:100%;
    background: $cm-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    float: left;

    .cm-admin-card--header{
        @extend %position-relative;
        min-height:76px;
        padding:14px 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #E9EBF1;
        h2{
             font-family: 'DIN Alternate Bold', sans-serif;
             font-weight: bold;
             font-size: 18px;
             line-height: 1;
             color: #748090;
             margin:0;
             img{
                 margin-left:6px;
             }
        }

    }
    .cm-admin-card-subhead{
        margin-bottom: 0px;
        font-family: 'DIN Alternate Bold', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #748090;
    }
    .cm-admin-card--header__width-bg {
         background-color: $cm-light-grey-8;
    }
    .cm-admin-card--header_filter {
        padding: 14px 25px 0px 25px !important;
    }
    .cm-admin-card--data {
        position: relative;
        width: 100%;
        float: left;
        .graph-wrap{
            @extend %position-relative;
            padding:24px 35px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .table-wrap {
            @extend %position-relative;
        }

    }
    .cm-admin-card--footer{
        @extend %position-relative;
        padding:31px 0;
        background-color: $cm-light-grey-8;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .cm-admin-card--footer--pagination {
       padding: 0 !important;
       justify-content: flex-end !important;
    }
}

.cm-filter {
    width: 100%;
}

.card-data-wrapper{
    padding: 1.3rem;
}

.reminder-text {
    font-size: 0.8rem;
    color: #616161;
}

.sweet-loading{
    @extend %position-relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $cm-primary;
}
 